.navbar-brand {
    font-size: 1.8em;
}

.headingselector {
    font-size: 1.5em;
    text-align: center;
    margin-top:1em;
}

#hiddenDisplay {
    text-align: center;
    font-size: 2em;
    color: rgb(231, 19, 19);
    font-weight: bold;

}

.gameenable {
    padding-bottom: 1em;
    border-bottom: 3px solid #dddddd;
}

.gameWordDisplay {
    font-size: 2em;
    padding-bottom: 0.5em;
}

.linebreak {
    height:1.9em;
}

.letterstyle {
    border: 2px solid #dddddd;
    text-align: center;
    font-size: 3em;
}

.imgDisplay {
    padding-top: 4em;
    width: 39em;

}

.kbDisplay {
    padding-top: 4em;
}

.kbRow2 {
    padding-left: 2em;
}

.btnLetter {
    width: 3em !important;
}

.btnrowbreak {
    height:1em;
}

.resultarea {
    font-size: 2em;
}